@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
